anyio
asttokens
backcall
bokeh
click
colorama
comm
contourpy
cycler
dataexplorer
debugpy
decorator
executing
fastapi
fonttools
h11
idna
importlib-resources
ipykernel
ipython
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
pickleshare
Pillow
platformdirs
prompt-toolkit
psutil
pure-eval
pydantic
Pygments
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
scikit-learn
scipy
seaborn
six
sniffio
stack-data
starlette
sweetviz
threadpoolctl
tornado
tqdm
traitlets
typing_extensions
tzdata
uvicorn
wcwidth
xyzservices